$mediumScreen: 992px;
$smallScreen: 576px;
$white: #FFFFFF;
$black: #000000;
$lightGray: #F4F4F5;
$gray: #333333;
$darkGray: #7B7B7B;
$blueGray: #212830;
$lightBlue: #D5E4F7;
$blue: #5558FA;
$navy: #2a3245;

$iconColor: invert(51%) sepia(1%) saturate(0%) hue-rotate(110deg) brightness(92%) contrast(84%);
$iconHover: invert(99%) sepia(0%) saturate(829%) hue-rotate(175deg) brightness(74%) contrast(108%);