@use '../../styles/vars';

.btn-delete {
	width: 20px;
	height: 20px;
	display: block;
	padding: 5px;
	margin: 0 0 0 16px;
	background-image: url('../../assets/icons/delete.svg');
	background-repeat: no-repeat;
	border: none;
	background-color: transparent;
	cursor: pointer;
}

.fieldset {
	margin: 0 0 24px 0;
	border: none;
	&__item {
		list-style: none;
		display: flex;
		align-items: center;
		.input{
			margin-bottom: 8px;
		}
	}
}

.checkbox, .radio {
	&__input {
		display: none;
	}
	&__input:checked+&__lbl::before {
		background-color: vars.$blue;
		box-shadow: inset 0 0 0 2px vars.$white;
		border-color: vars.$blue;
	}
	&__lbl {
		display: flex;
		align-items: center;
		cursor: pointer;
		&::before {
			content: '';
			display: inline-block;
			box-sizing: border-box;
			width: 16px;
			height: 16px;
			margin: 0 10px 0 0;
			border: 1.5px solid rgba(0, 0, 0, 0.24);
		}
	}
}

.checkbox__lbl::before {
	border-radius: 4px;
}
.radio__lbl::before {
	border-radius: 50%;
}