
@use '../../styles/vars';

.tab__btns {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 64px 0 0 0;
}
.textarea {
	display: block;
	width: 100%;
	background: vars.$white;
	padding: 12px;
	margin: 8px 0;
	border: 1px solid rgba(0, 0, 0, 0.16);
	font-family: inherit;
	resize: vertical;
}

.counter {
	text-align: end;
	font-size: 10px;
	color: vars.$gray;
	position: absolute;
	bottom: 4px;
	right: 10px;
}